@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px 200px 130px;
  display: flex;
  flex-direction: column;
}

.container-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.container-header2 {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
}

.placeholder {
  width: 520px;
  height: 240px;
  background-color: #666666;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header3 {
  margin-right: 32px;
}

.header p {
  color: #e5e7eb;
  margin-top: 4px;
}

.header button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 40px;
  border: none;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
}

.information {
  margin: 40px 200px 130px;
  text-align: center;
}

.information h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

.container-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.item {
  max-width: 170px;
  text-align: center;
}

.information .image {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.information p {
  margin-top: 8px;
  color: #666666;
}

.quote {
  background-color: #e5e7eb;
  padding: 140px 320px 90px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  font-style: normal;
  padding-right: 36px;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 100px 200px;
  padding: 50px 120px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup h1 {
  font-size: 24px;
  font-weight: 500;
}

.signup p {
  color: #e5e7eb;
  margin-top: 4px;
}

.signup button {
  padding: 8px 40px ;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 40px;
}